/*
========================================================================================
    Nextflow config file for running full-size tests
========================================================================================
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/readzs -profile test_full,<docker/singularity>

----------------------------------------------------------------------------------------
*/

/*
params {
    runName = "sseq_full"
    input = "/restricted/projectnb/hybrids/ecruiz/readZS/1/samplesheet_135.csv"
    useChannels = false
    chr_lengths = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/polyA_eda/Stereo-Seq_IGV_Jan92023/mm10.chrom.sizes"
    libType = "SS2"
    isSICILIAN = false
    isCellranger = false
    metadata = "/restricted/projectnb/hybrids/ecruiz/readZS/1/metadata_135.tsv"
    ontologyCols = "'compartment, tissue'"
    annotation_bed = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/polyA_eda/Stereo-Seq_IGV_Jan92023/polyA_ref/atlas.clusters.2.0.GRCm38.96.bed"
    gff = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/polyA_eda/Stereo-Seq_IGV_Jan92023/gencode.vM10.annotation.gff3"
}
*/

params {
    runName = "sseq_e11_chr1_bin100"
    input = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/SAW/output/E11.5_E1S4/bin100_subset_05022023/chr1/E11_chr1_bin100_sampleSheet.csv"
    useChannels = false
    chr_lengths = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/polyA_eda/Stereo-Seq_IGV_Jan92023/mm10.chr1.size"
    libType = "SS2"
    isSICILIAN = false
    isCellranger = false
    metadata = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/SAW/output/E11.5_E1S4/bin100_subset_05022023/chr1/E11_chr1_bin100_metadata.tsv"
    ontologyCols = "'compartment, tissue'"
    annotation_bed = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/polyA_eda/Stereo-Seq_IGV_Jan92023/polyA_ref/mm10_RefSeq.bed"
    gff = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/polyA_eda/Stereo-Seq_IGV_Jan92023/gencode.vM10.annotation.gff3"
}

/*
params {
    runName = "sseq_e11_chr1_bin100"
    input = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/SAW/output/E11.5_E1S4/bin100_subset_05022023/chr1/E11_chr1_bin100_sampleSheet.csv"
    useChannels = false
    chr_lengths = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/polyA_eda/Stereo-Seq_IGV_Jan92023/mm10.chr1.size"
    libType = "SS2"
    isSICILIAN = false
    isCellranger = false
    metadata = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/SAW/output/E11.5_E1S4/bin100_subset_05022023/chr1/E11_chr1_bin100_metadata.tsv"
    ontologyCols = "'compartment, tissue'"
    annotation_bed = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/polyA_eda/Stereo-Seq_IGV_Jan92023/polyA_ref/atlas.clusters.2.0.GRCm38.96.bed"
    gff = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/polyA_eda/Stereo-Seq_IGV_Jan92023/gencode.vM10.annotation.gff3"
}
*/

/*
params {
    runName = "e12_brain_chr1_bin100"
    input = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/SAW/output/E11_E12/bin100_brain_subset/chr1/e12/E12_brain_sampleSheet.csv"
    useChannels = false
    chr_lengths = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/polyA_eda/Stereo-Seq_IGV_Jan92023/mm10.chr1.size"
    libType = "SS2"
    isSICILIAN = false
    isCellranger = false
    metadata = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/SAW/output/E11_E12/bin100_brain_subset/chr1/e12/E12_brain_metadata.tsv"
    ontologyCols = "'tissue, annotation'"
    annotation_bed = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/polyA_eda/Stereo-Seq_IGV_Jan92023/polyA_ref/atlas.clusters.2.0.GRCm38.96.bed"
    gff = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/polyA_eda/Stereo-Seq_IGV_Jan92023/gencode.vM10.annotation.gff3"
}
/*

/*
params {
    runName = "e11_brain_chr1_bin100"
    input = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/SAW/output/E11_E12/bin100_brain_subset/chr1/e11/E11_brain_sampleSheet.csv"
    useChannels = false
    chr_lengths = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/polyA_eda/Stereo-Seq_IGV_Jan92023/mm10.chr1.size"
    libType = "SS2"
    isSICILIAN = false
    isCellranger = false
    metadata = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/SAW/output/E11_E12/bin100_brain_subset/chr1/e11/E11_brain_metadata.tsv"
    ontologyCols = "'tissue, annotation'"
    annotation_bed = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/polyA_eda/Stereo-Seq_IGV_Jan92023/polyA_ref/atlas.clusters.2.0.GRCm38.96.bed"
    gff = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/polyA_eda/Stereo-Seq_IGV_Jan92023/gencode.vM10.annotation.gff3"
}
*/