/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/readzs -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    runName = "sseq"
    input = "/restricted/projectnb/hybrids/ecruiz/readZS/1/samplesheet_2c.csv"
    useChannels = false
    chr_lengths = "https://raw.githubusercontent.com/salzmanlab/ReadZS/master/small_test_data/refs/chrLength.txt"
    libType = "SS2"
    isSICILIAN = false
    isCellranger = false
    metadata = "/restricted/projectnb/hybrids/ecruiz/readZS/1/metadata.csv"
    ontologyCols = "'compartment, tissue'"
    annotation_bed = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/polyA_eda/Stereo-Seq_IGV_Jan92023/polyA_ref/atlas.clusters.2.0.GRCm38.96.bed"
    gff = "/projectnb/rd-spat/HOME/ecruiz/StereoSeq/polyA_eda/Stereo-Seq_IGV_Jan92023/gencode.vM10.annotation.gff3"
}

